---
import Splash from '../components/landing/Splash.astro';
import Testimonies from 'components/landing/testimonials/Testimonies.astro';
import Layout from '../layouts/Layout.astro';
import Statistics from 'components/landing/Statistics.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Splash />
		<Testimonies />
		<Statistics />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
</style>
