---

const { class: className, 'class:list': classList } = Astro.props



---
<div class:list={[className, classList]}>
    <slot />
</div>
<style lang="scss">
    div {
        background-color: $cardColor;
        border-radius: $cardBorderRadius;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        padding: 5px 20px;
    }
</style>