---
---
<button class="alert">Click me!</button>
<script>
    import { greet } from "lib/greet";

    // Find all buttons with the `alert` class on the page.
    const buttons = document.querySelectorAll('button.alert');

    // Handle clicks on each button.
    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            greet()
        });
    });
</script>